#header{
  background-image: url(../img/landing.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0px;
  margin-right: 0px;
  font-weight: lighter;
}
#HappyParty{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding: 0rem;
  text-align: center;
  width: auto;
}
#HappyHour{
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2rem;
  font-size: 2rem;
}
#partyTime{
  background-color: #F15A29;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2rem;
  font-size: 2rem;
}
#partyTime:hover{
  color: white
}
#happyParty{
  padding-right: 0rem;
}
#breakfast{
  background-image: url(../img/breakfast.jpg);
  padding-top: 5rem;
  font-size: 2rem;
}
#breakfast:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.9);
  opacity: 0.9;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}
#lunch{
  background-image: url(../img/lunch.jpg);
  padding-top: 5rem;
  font-size: 2rem;
}
