#header{
  background-image: url(../img/landing.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0px;
  margin-right: 0px;
  font-weight: lighter;
}
#HappyParty{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding: 0rem;
  text-align: center;
  width: auto;
}
#HappyHour{
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2rem;
  font-size: 2rem;
}
#partyTime{
  background-color: #F15A29;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 2rem;
  font-size: 2rem;
}
#partyTime:hover{
  color: white
}
#happyParty{
  padding-right: 0rem;
}
#breakfast{
  background-image: url(../img/breakfast.jpg);
  padding-top: 5rem;
  font-size: 2rem;
}
#breakfast:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.9);
  opacity: 0.9;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}
#lunch{
  background-image: url(../img/lunch.jpg);
  padding-top: 5rem;
  font-size: 2rem;
}
#lunch:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.9);
  opacity: 0.9;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}
#dinner{
  background-image: url(../img/dinner.jpg);
  padding-top: 5rem;
  font-size: 2rem;
}
#dinner:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.9);
  opacity: 0.9;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}
button{
  margin: 20px;
  display: inline-block;
  color: #F15A29;
  font-size: 25px;
  font-weight: 500;
  padding:6px 50px;
  text-decoration:none;
  background-color: white;
  border-color: #F15A29;
  border-bottom-style:solid;
  border-right-style: solid;
  border-radius: 5px;

}
#jumbo1{
  background-image: url(../img/foodsBg.jpg);
}
#menus{
  background-color: white;
  width: 1080px;
  height: 60%;
}
.nav{
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs{
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
#box1{
  margin-top: 20px auto;
  margin-left: 20px auto
  position: relative;
  width: 520px;
  height: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#box1 .image1{
  padding-left: 15px;
  padding-top: 13px;
}
#box1 .image2{
  padding-left: 15px;
}
#box2{
  margin-top: 20px auto;
  margin-left: 20px auto
  position: relative;
  width: 520px;
  height: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding-top: 15px;
}
#box2 .image3{
  padding-left: 15px;
  margin-right: 0px;
}
#box2 .image4{
margin-right: 0px;
}
#burger{
  background-image: url(../img/foodsBg.jpg);
  height: 620px;
  padding-top: 160px;
}
#menus{
  height: 350px;
  padding-top: 20px;
}
#myNav2 li{
  display: inline;
  padding-right: 200px;
}
#myNav2 a{
  font-weight: bold;
  text-decoration: none;
}
.box{
  argin-top: 20px auto;
  margin-left: 20px auto
  position: relative;
  width: 90%;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding-top: 40px;
}
#subscribe{
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 400px;
  padding-left: 350px;
  margin-bottom: 0;
  padding-top: 100px;
}
.btn{
  background-color: #F15A29;
  color: #ffffff;
  width: 200px;
  height: 45px;
}
#inlineFormInput{
  width: 400px;
  height: 45px;
  background-color: white;
  opacity: 0.3;
}
#footer{
  background-color: #F15A29;
  margin-bottom: 0px;
}
.smalls{
  text-align: center;
}
