#header{
  background-image: url(../img/landing.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 0px;
  margin-right: 0px;
  font-weight: lighter;
}
#HappyParty{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding: 0rem;
  text-align: center;
  width: auto;
}
